<div class="pagetitle">
    <h1>Users</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Users</li>
        </ol>
    </nav>
</div>

<section class="section dashboard">
    <div class="row">

        <div class="col-lg-8">
            <div class="row">

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Total Users</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{userNumbers?.total}}</h6>
                                     <span
                                        class="text-muted small pt-2 ps-1">System users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                     <div class="card-body">
                            <h5 class="card-title">Administrators </h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{userNumbers?.admin}}</h6>
                                    <span
                                        class="text-muted small pt-2 ps-1">users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-12">
                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Total Applicants</h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{userNumbers?.applicants}}</h6>
                                    <span class="text-muted small pt-2 ps-1">applicants</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


          
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="card-body">
                            <h5 class="card-title">Users List <span>| as of to date</span></h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Roles</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">More</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="users">
                                    <tr *ngFor="let user of  users; let i=index">
                                        <th scope="row"><a href="#">#{{i}}</a></th>
                                        <td>{{user?.name}}</td>
                                        <td><a href="#" class="text-primary">{{user.username}}</a></td>
                                        <td>{{user.roles}}</td>
                                        <td>
                                         <span class="badge bg-success" *ngIf="user.status=='ACTIVE'">Active</span>
                                        <span class="badge bg-warning" *ngIf="user.status=='INACTIVE'">Inactive</span>
                                    </td>
                                        <td><button class="btn btn-sm btn-outline-info"  data-bs-toggle="dropdown">Action <i class="bi bi-three-dots-vertical"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                            
                                            <li><a class="dropdown-item" *ngIf="user.status=='INACTIVE'" (click)="activatOrDeactivate(user.username)">Activate</a></li>
                                            <li><a class="dropdown-item" *ngIf="user.status=='ACTIVE'" (click)="activatOrDeactivate(user.username)">De-Activate</a></li>
                                            <li><a class="dropdown-item" (click)="openDialog(true, user)">Edit</a></li>
                                        </ul>
                                        
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!users">
                                    <tr>
                                        <td colspan="6">Oops no data found</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>



            </div>
        </div>

    
        <div class="col-lg-4">

     
            <div iv class="card">
        
                <div class="card-body">
                    <h5 class="card-title">Add New User</h5>
                    <p>Only system administrators can be created using the below button, life isurance applicants accounts can be created on the applicants' page</p>

                    <div class="activity">
                        <button class="btn btn-info btn-block" (click)="openDialog(false)">Add New Administrator</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>