<div class="pagetitle">
  <h1>Life Plans</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active">Life Plans</li>
    </ol>
  </nav>
</div>

<section class="section dashboard">
  <div class="row">

    <div class="col-lg-8">
      <div class="row">

        <div class="col-12">
          <div class="card recent-sales overflow-auto">

            <div class="card-body">
              <h5 class="card-title">Beneficiaries List <span>| as of to date</span></h5>

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Applicant Email</th>
                    <th scope="col">Policy</th>
                    <th scope="col">Beneficiary Email</th>
                    <th scope="col">More</th>
                  </tr>
                </thead>
                <tbody *ngIf="plans">
                  <tr *ngFor="let plan of  plans; let i=index">
                    <th scope="row"><a>#{{i}}</a></th>
                    <td>{{plan?.applicantEmail}}</td>
                    <td>{{plan?.policy}}</td>
                    <td>{{plan?.beneficiaryEmail}}</td>
                   
                    <td><button class="btn btn-sm btn-outline-info" data-bs-toggle="dropdown">Action <i
                          class="bi bi-three-dots-vertical"></i></button>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li><a class="dropdown-item" (click)="openDialog(true, plan)">Edit</a></li>
                        <li><a class="dropdown-item" (click)="openBeneficiariesById(plan?.id)">View Beneficiaries</a></li>
                        <li><a class="dropdown-item" (click)="openPolicy(plan?.policy)">View Policy Details</a></li>
                      </ul>

                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="!plans">
                  <tr>
                    <td colspan="6">Oops no data found</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>



      </div>
    </div>


    <div class="col-lg-4">


      <div iv class="card">

        <div class="card-body">
          <h5 class="card-title">Add New Life Plan</h5>

          <div class="activity">
            <button class="btn btn-info btn-block" (click)="openDialog(false)">Add Plan</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>